/* Stile di base per tutto il sito */
html, body {
    height: 100%; /* Assicurati che l'html e il body occupino il 100% dell'altezza */
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #6e97ff;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1; /* Fai in modo che il contenuto principale si espanda */
}

/* Sezione Hero */
.hero {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.hero-content h4 {
    font-size: 24px;
    margin-bottom: 30px;
}

.cta-button {
    padding: 10px 20px;
    background: #f1c40f;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.cta-button:hover {
    background: #d4ac0d;
}

/* Stile per la sezione About */
.about, .services, .contact {
    padding: 50px 20px;
    text-align: center;
}

.about h2, .services h2, .contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
}

.about p, .services p, .contact p {
    font-size: 18px;
    margin-bottom: 20px;
    color: #555;
}

/* Sezione Servizi */
.service-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service-item {
    background: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    flex-basis: 30%;
}

.service-item h3 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

.service-item p {
    font-size: 16px;
    color: #4f4f4f;
}

/* Sezione Contatti */
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Footer */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: relative;
}

/* Header e Navigazione */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a.active {
    color: #f1c40f;
}